body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
    background-image: ;
    background-size: cover;

}


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Josefin Sans', sans-serif;
}

nav .logo {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 150px;
    height: 50px;

}

.logo a {
    position: absolute;
    width: 130px;
    height: 50px;
    color: black;
    font-size: 30px;
    margin-top: 10px;
    margin-left: 10px;
    text-decoration: none;
    font-style: mochiy pop one;
}

.logo a span {
    color: #5A8F7B;
}


.top {
    position: absolute;
    height: 52px;
    width: 100%;
    background-color: ;
    top: 0px;

}


nav ul {

    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 10px;
}

nav ul li {
    list-style-type: none;
    display: inline-block;
    padding: 10px 10px;
}

nav ul li a {
    color: black;
    text-decoration: none;
    font-weight: bold;
}

nav ul li a:hover {
    color: #603601;

}

.top button {
    position: absolute;
    left: 1200px;
    top: 15px;
    width: 120px;
    height: 30px;
    background-color: #377D71;
    color: white;
    border: none;
    border-radius: 4px;
}

.top button:hover {
    background: #8879B0;
    cursor: pointer;
}

.top button a {
    text-decoration: none;
    color: white;
}

.querytitle {
    position: absolute;
    top: 400px;
    left: 300px;
}

.querytitle h3 {
    font-size: 60px;
    color: #4070f4;

}

.querybox {
    position: absolute;
    display: block;
    height: 690px;
    top: 80px;
    width: 500px;
    left: 950px;
    border-radius: 5px;
    border: none;
    background: whitesmoke;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}




#name {
    position: absolute;
    width: 70%;
    height: 40px;
    align-content: center;
    display: block;
    left: 80px;
    border: 1.5px solid #C7BEBE;
    border-bottom-width: 2.5px;
    padding: 20px;
    top: 50px;
}

#regno {
    position: absolute;
    width: 70%;
    height: 40px;
    align-content: center;
    display: block;
    left: 80px;
    color: #333;
    border: 1.5px solid #C7BEBE;
    border-bottom-width: 2.5px;
    padding: 20px;
    top: 120px;

}

#email {
    position: absolute;
    width: 70%;
    height: 40px;
    align-content: center;
    display: block;
    left: 80px;
    color: #333;
    border: 1.5px solid #C7BEBE;
    border-bottom-width: 2.5px;
    padding: 20px;
    top: 190px;
}

#course {
    position: absolute;
    width: 70%;
    height: 40px;
    align-content: center;
    display: block;
    left: 80px;
    color: #333;
    border: 1.5px solid #C7BEBE;
    border-bottom-width: 2.5px;
    padding: 20px;
    top: 260px;
}

#mobno {
    position: absolute;
    width: 70%;
    height: 40px;
    align-content: center;
    display: block;
    left: 80px;
    color: #333;
    border: 1.5px solid #C7BEBE;
    border-bottom-width: 2.5px;
    padding: 20px;
    top: 330px;
}

#query {
    position: absolute;
    width: 70%;
    height: 200px;
    align-content: center;
    display: block;
    left: 80px;
    color: #333;
    border: 1.5px solid #C7BEBE;
    border-bottom-width: 2.5px;
    padding: 20px;
    top: 400px;
}

#submit {
    position: absolute;
    display: block;
    top: 630px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    border: none;
    background: #4070f4;
    padding: 12px 30px;
    border-radius: 6px;
    color: white;
    font-weight: bold;
    font-size: 15px;
    transition: .4s;
    left: 190px;

}

#submit a {
    text-decoration: none;
    color: white;
}

#submit:hover {
    color: #000000;
    cursor: pointer;
    background: #5A8F7B;
}